body{
  background-image: url("https://media.giphy.com/media/B6hw6dUkOZ7qp7hf3K/giphy.gif");
   margin:0;
   font-family: "poppins";
}
section{
    height:100vh;
    width:100%;
}
.intro_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    align-items: space-evenly;
    flex-direction: column;
    text-emphasis: bold;
    font-weight: bold;
    font-size: 2em;

}
.main_page_div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    flex-direction: row;
    
}
.box{
    height: max-content;
    width: max-content;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 5px;
    box-shadow: dimgrey;
}
h2{
font-family: 'Josefin Sans', sans-serif;
text-align: center;
font-weight: bold;
padding-top:5%;
margin-bottom: 0%;
font-size: 40px;
}
#btn{
 padding:10px;
 background-color: blue;
 border-radius: 5px;
 border: 0px;
}
a{
    text-decoration: none;
    font-family: "poppins";
 color:black;
 font-weight: bold;
 font-size: 20px;
}
#add{
    padding:10px;
 border-radius:5px;
 border: 0px;
background-color: chartreuse;
}
#img{
    pointer-events: none;
}
input{
    border-radius:5px;
    padding:5px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "poppins";
    color:black;
}
@media (max-width: 768px) {
    body{
        width:100%;
    }
}